.event-card {
  display: grid;
  grid-template-columns: 1fr 1fr;

  text-align: center;
  list-style-type: none;
}

.event-card-li {
  border: 1px black solid;
  width: 40rem;
  margin: 1rem;
  height: auto;
  background-color: rgb(160, 187, 238);
  padding: 2rem;
  border-radius: 20rem;
}

.event-card-btn {
  margin-top: 10px;
  background-color: rgb(137, 159, 201);
  color: rgb(1, 5, 8);
  font-weight: bolder;
  border-radius: 20px;
  height: 2rem;
}
.event-card-btn:hover {
  background-color: rgb(206, 38, 8);
  color: white;
}
